html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.3;
    font-family: $font__primary;
    color: $lightGray;
    background-image: url('/images/bg-header-mobile.png');
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;

    @include breakpoint(medium){
        background-image: url('/images/bg-header-desktop.png');
    }

    @include breakpoint(large){
        font-size: 1.15rem;
    }
}

h1, h2, h3 {
    color: $darkGray;
    font-weight: 600;
    margin-top: 0px;
}

h1 {        
    font-size: 1.5rem;
    margin-bottom: 25px;

    @include breakpoint(large){ // 44px 
        font-size: 2.75rem;
    }
}

h2 {
    font-size: 1.75rem; // 28px
    margin-bottom: 1rem;

    @include breakpoint(large){ // 34px
        font-size: 2.125rem;
    }
}

// CTA buttons
.cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(medium){
        display: block;
    }

    button:first-child {
        margin-bottom: 20px;

        @include breakpoint(medium){
            margin-bottom: 0px;
            margin-right: 16px;
        }            
    }
}

button, .button {
    position: relative;    
    border-radius: 15px;
    color: #ffffff;
    font-size: 0.875rem;
    border: none;
    border-radius: 30px;
    padding: 16px 40px;
    cursor: pointer;
    transition: all 150ms ease-in-out;

    @include breakpoint-less(small){
        width: 100%;
    }

    &.cyan {
        background-color: $cyan;
        border-bottom: 3px solid $cyan;

        &:hover {
            background-color: lighten($cyan, 3%);
            box-shadow: 0px 4px 14px rgba($cyan, 0.25);
        }
    }

    &.purple {
        background-color: $purple;
        border-bottom: 3px solid $purple;
        
        &:hover {
            background-color: lighten($purple, 3%);
            box-shadow: 0px 4px 14px rgba($purple, 0.25);
        }
    }

}

// Helper classes
.wrapper {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 95px;
    max-width: 1110px;
    margin: auto;

    @include breakpoint(large){        
        padding-bottom: 142px;
    }
}

.centered {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

// Content
.content {
    max-width: 700px;

    img {
        width: 100%;
        height: auto;

        &.medium {
            max-width: 800px;
        }
    }
}

// P tags
p {
    margin-top: 0px;
}

p.large { // 20px
    font-size: 1.25rem;
}

p.medium { // 16px
    font-size: 1rem;
    line-height: 1.5;

    @include breakpoint(large){ // 18px
        font-size: 1.125rem;
        line-height: 1.75;
    }
}

p.small { // 16px
    font-size: 1rem;
    line-height: 1.75;
    max-width: 350px;
}

.margin-bottom {    
    margin-bottom: 50px;  
    line-height: 1.6; 
}

.lg-margin-bottom {
    margin-bottom: 80px;
}


.xlg-margin-bottom {
    margin-bottom: 35px;

    @include breakpoint(large){
        margin-bottom: 80px;
    }    
}



