.snippets {

    &__content {
        position: relative;
        width: 100%;

        @include breakpoint(large){
            display: flex;
            align-items: center;
        }
    }
    &__image, &__features {

        @include breakpoint(large){
            flex: 1;
        }
    }

    &__image {
        margin-bottom: 60px;

        @include breakpoint(large){
            margin-bottom: 0px;
        }

        img {
            width: 100%;            
            max-width: 500px;

            @include breakpoint(large){
                max-width: none;
                transform: translateX(-55px);
            }
        }
        
    }

    &__features {        

        @include breakpoint(large){
            margin-left: 55px;
            text-align: left;
        } 
        
        p {
            display: inline-block;
            max-width: 340px;
        }
        
    }

}